<?php
    $dbconfig = array(
        'db_host' => 'db',
        'db_username' => 'root',
        'db_password' => 'pass@123',
        'db_name' => 'studyglobe',
        'db_port' => '3306'
    );

    $pageData = array(
        'domain' => 'http://studyglobe.pro/',
        'mobile' => '0785269363',
        'email' => 'studyglobe@gmail.com',
    );
?>
